<div class="container">
    <div class="title">
        Admin page
    </div>

    <div class="btn-container">
        <span class="btn addUser">
            <button routerLink="add-user">add user</button>
        </span>
        <span class="btn addProduct">
            <button routerLink="add-product">add product</button>
        </span>
        <span class="btn list">
            <button routerLink="list">list</button>
        </span>
        <router-outlet></router-outlet>
    </div>
</div>

