.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    .posts {
        .post {
            padding: 10px;
            border: 1px solid black;
            margin: 20px 0;
            width: 300px;
            .userId {
                cursor: pointer;
            }
            .title { 
                font-size: 20px;
                text-align: center;
                margin: 20px 0;
            }
            .body {}
        }
    }
}