* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 60px;
    text-align: center;
    span {
        margin: 0 20px;
        font-size: 20px;
        line-height: 60px;
        cursor: pointer;
        border: 1px solid black;
        padding: 15px;
    }
}