.container {
    display: flex;
    .users {
        width: 270px;
        text-align: center;
        border: 1px solid black;
        padding: 30px 10px;
        .user {
            margin: 20px;
            text-align: center;
            border: 1px solid rgb(177, 0, 0);
            padding: 20px 10px;
            cursor: pointer;

            .img {
                
                img {
                    height: 40px;
                    width: 150px;
                    object-fit: cover;
                }
            }
        }
    }
    
    .details {
        margin-left: 10px;
        min-width: 400px;
        .card {
            position: fixed;
        }
    }
}